configuration {
  show-icons:         true;
  icon-theme:         "Paper";
  cycle:              false;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
}
@import "/home/nvn/.config/rofi/themes/onedark.rasi"
